<form action="/addpost" method="POST">
    <p>Title: </p>
    <input type="text" name="title">
    <p>Content: </p>
    <textarea name="content"></textarea>
    <button type="submit">Create Post</button>
</form>